# MongoDB local credentials
MONGO_ROOT_USER=aicadmin
MONGO_ROOT_PASSWORD=aic2026_local_password

# Local endpoint exposed by Docker Desktop
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=aic2026

MONGO_OCR_COLLECTION=ocr_metadata
MONGO_ASR_COLLECTION=asr_metadata
